h4,
h5 {
    text-align: center;
    color: #d08b2a !important;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    /*essa é a fonte da logo*/
    font-weight: bold;
}

p {
    color: #592e0d;
    font-family: 'Berlin Sans FB Demi', sans-serif;
    font-size: 15px;
    /*essa é a fonte da logo*/
    text-indent: 0% !important;
    margin-bottom: 5px;
}


.alert{
    margin-top: 20px;
}

#form {
    margin-top: 10px;
}

img {
    margin-right: 10px;
    border-radius: 3px;
}

#nav {
    padding: 0.5rem 1rem;
}

.img-container {
    width: 150px;
    height: 150px;
    overflow: hidden; /* Garante que qualquer parte da imagem fora do contêiner seja cortada */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner de 150x150px */
    display: block;    /* Remove espaços ao redor da imagem */
}


.filter-img{
    margin-left: 10px;
}


@media (min-width: 1200px) {

    #container{
        display: flex;
        justify-content: space-between; /*Cria duas colunas com quantidades iguais de containers*/
        
    }

    .coluna{
        flex-basis: calc(50% - 20px); /* Define a largura das colunas com espaço entre elas */
    }

    .item{
        background-color: #fbf6ef !important;
        padding: 20px;
        margin: 20px auto;
        
    
        display: flex;
        align-items: flex-start; /* Alinhar verticalmente os paragrafos*/
        text-align: left;

        height: 340px;
        
    }

    .item .contato {
        display: flex;
        flex-direction: column; /* Coluna para a imagem e contato */
        align-items: center;
        margin-right: 20px; /* Espaçamento entre colunas */
    }

    
}


@media (max-width: 1000px) {


    .item {
        background-color: #fbf6ef !important;
        padding: 10px;


        display: flex;
        align-items: flex-start;
        /* Alinhar verticalmente os paragrafos*/

        width: 90%;
        /* Certifica-se de que os containers ocupem toda a largura da coluna */
        margin: 20px auto;

    }

    .item .contato {
        display: flex;
        flex-direction: column;
        /* Coluna para a imagem e contato */
        align-items: center;
        margin-right: 20px;
        /* Espaçamento entre colunas */
    }
}

@media (max-width: 535px) {

    h4,
    h5 {
        font-size: medium;
    }

    p {
        font-size: smaller;
    }

    .item {

        width: 90%;
        /* Certifica-se de que os containers ocupem toda a largura da coluna */
        margin: 20px auto;

    }

    .img {
        width: 120px;
        height: 120px;
    }


}

@media (min-width: 992px) and (max-width: 1200px) {
    #container{
        display: flex;
        justify-content: space-between; /*Cria duas colunas com quantidades iguais de containers*/
        
    }

    .item{
        background-color: #fbf6ef !important;
        padding: 20px;
        margin: 20px auto;
        
    
        display: flex;
        align-items: flex-start; /* Alinhar verticalmente os paragrafos*/
        text-align: left;

        height: 420px;
        
    }

    .item .contato {
        display: flex;
        flex-direction: column; /* Coluna para a imagem e contato */
        align-items: center;
        margin-right: 20px; /* Espaçamento entre colunas */
    }
}


/* Estilos para o botão de buscar */
.btn-outline-success {
    color: #592e0d;               /* Cor do texto */
    border-color: #d08b2a;       /* Cor da borda */
    background-color: #d08b2a;   /* Cor de fundo */
    font-weight: bold;            /* Peso da fonte */
}

.btn-outline-success:hover {
    background-color: #592e0d !important; /* Cor de fundo ao passar o mouse */
    border-color: #d08b2a;                /* Cor da borda ao passar o mouse */
}


#searchInput {
    max-width: 450px; /* ou qualquer largura desejada */
    width: 100%; /* Isso garante que o campo use a largura máxima do seu contêiner pai */
}



/* Estilos para o contêiner do formulário */
#form {
    display: flex;                  
    align-items: center;            /* Centraliza verticalmente */
    justify-content: center;        /* Centraliza horizontalmente */
    margin: 20px 0;                /* Espaçamento superior e inferior */
}

.search-img, .filter-img {
    margin: 0 5px;                 /* Espaçamento lateral entre as imagens e os inputs */
}




